.copy {
    cursor: pointer;
  }
  
  html {
    height: 450px;
    width: 400px;
    padding: 15px;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered {
    text-align: center;
  }

  .loginAndsignuppage{
    width: 10rem;
    height: 10rem;
    h1{
      color: red !important;	
    }
  }

 
  